.vscode
.idea
.builds
backend/model/first
backend/migrations/__pycache__/
backend/migrations/versions/__pycache__/
backend/app/__pycache__/
backend/app/api_v1/__pycache__/
backend/__pycache__/
backend/app/models/__pycache__/
backend/Pipfile.lock
backend/Pipfile.lock
backend/model/.ipynb_checkpoints
