@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/metropolis.min.css");

:root {
  --mainColor: #56c0e7;
}

.order{
  font-size: 50pt;
  color: black;
  font-family: "Metropolis Medium";
}

.mainPoint{
  margin-top: 20%;
  font-size: 40pt;
  color: black;
  font-family: "Metropolis Medium";
}

.wholeHtml{
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%,rgb(173, 209, 255) 100%,  rgb(130, 170, 224) 100%);
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  overflow-y: hidden;
}

.bloks{
  flex-wrap:wrap;
  justify-content: center;
  display: flex;
  max-width: 85%;
  height: 100%;
  white-space: nowrap;
}

.card{
  width: 15vw;
  height: 15vw;
  border-radius: 50px;
  background: rgba(224, 192, 130, 0.66);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.7px);
  -webkit-backdrop-filter: blur(5.7px);
  border: 1px solid rgba(224, 192, 130, 0.35);
  display: inline-block;
  white-space: normal;
  margin: 6%;
  box-shadow: 0 7px 7px rgb(0 0 0 / 20%);
}

.card:hover{
  background: rgba(231, 182, 99, 0.77);
  box-shadow: 0 15px 20px rgb(0 0 0 / 20%);
  transform: translateY(-3px);
  transform: scaleX(1.1) scaleY(1.1);
}



.mc-title{
  text-align: center;
}

.mc-subtitle{
  text-align: center;
}


mat-expansion-panel{
  margin-left: 2%;
  width: 96%;
  border-radius: 15px!important;
  box-shadow: 2px 2px 10px #8c8c8c !important;
  font-size: 120%;
  background-color: white;
  margin-top: 3%;
  margin-bottom: 3%;
}


