<div class="wholePage">
  <div class="infoAboutProjekt">
    <h2>This site was made by UPJS students in the framework of the subject "Project 2" in cooperation with Visma Labs.</h2>
  </div>

  <div class="contact">
    <div class="leftContactBlock">
      <p>You can email us:</p>
      <p><strong>contactUs@gmail.com</strong></p>
    </div>
    <div class="verticalLine"></div>
    <div class="rightContactBlock">
      <div class="contactUsButton"> <a class="ContactUsMail" href="mailto:contactUs@gmail.com"> Contact us </a> </div>
    </div>
  </div>

  <div class = "images">
    <img class="logo" src="assets/img/logoupjscb.png">
    <img class="logo" src="assets/img/logoodbor.png">
    <img class="logo" src="assets/img/visma-logo-png-transparent-small.png">
  </div>

</div>
