<div class="body" *ngIf="!ScanPageVisible">
  <div id="HomePage" class="homePage" *ngIf="!ScanPageVisible">
    <div class="simple-linear">
      <div class="content" >

        <div class="MainBoxMapPage" *ngIf="mapVisible" [@slideInRight]>
          <app-map>
          </app-map>
          <button class="cancelMapButton " (click)="changeMapVisible()"> Get back</button>
        </div>

        <div class="MainBoxMainPage" *ngIf="manUnvisible" [@slideInLeft]>
          <div class="left">
            <h1 class="first-title">Keep yourself safe</h1>
            <p class="subtitle"> Early detection is vital as, if caught early, 90% of melanomas can be cured with surgery. </p>
            <div class="buttons">
              <button class="CheckIt desktop-version" type="file" (click)="goToScanPage()"  clickable> Go check it </button>
              <button class="Map desktop-version" (click)="changeMapVisible()"> Clinics map </button>
              <button class="CheckIt mobile-version uploadButton" (click)="goToScanPage()"> Upload photo </button>
            </div>
          </div>
          <div class="third-button mobile-version">
            <button class="Map mobile-version" (click)="changeMapVisible()"> Clinics map </button>
          </div>
          <div class="right ">
            <img src="assets/img/main-pic(png).png" class="img">
          </div>
        </div>




      </div>
    </div>


    <div class="benefits">
      <h2>3 IMPORTANT THINGS</h2>
      <div class="benefits-blocks">
        <div class="block">
          <img src="assets/icons/pngwing%201.png " class="icon">
          <h4 class="benefits-name">Valuable business insights</h4>
          <p class="benefits-description">If the application detects a sign of melanoma, consult a doctor</p>
        </div>
        <div class="block">
          <img src="assets/icons/newsletter-dev.png" class="icon">
          <h4 class="benefits-name">Powerful Algorithms</h4>
          <p class="benefits-description">Get reliable results with powerful algorithms, rules and quality methods.</p>
        </div>
        <div class="block">
          <img src="assets/icons/timeline.png" class="icon">
          <h4 class="benefits-name">Data in real-time</h4>
          <p class="benefits-description">Real-time data collection and processing, fast results</p>
        </div>
      </div>
    </div>

    <div class="technology">
      <div class="box2">
        <div class="left-technology desktop-version">
          <img src="../assets/img/neural-network-img.png" class="img-techology">
        </div>
        <div class="right-technology">
          <img src="../assets/icons/Tag.png" class="icon-technology">
          <h3 class="title-technology">Validation with a Neural Network</h3>
          <p class="subtitle-technology">The check takes place on a well-trained neural network, after which you get an answer within a few minutes.</p>
        </div>
      </div>
    </div>

    <div class="experts-backgroud">
      <div class="experts">
        <p class="experts-title">Our tool was developed with the recommendations of doctors in the field of cancer</p>
        <div class="people">
          <div class="person">
            <img src="assets/img/doctor.png"class="person-foto">
            <h2 class="person-name">MUDr. Zuzana Baranová, PhD. <br> Klinika dermatovenerológie UPJŠ LF a UNLP</h2>
          </div>
          <div class="person">
            <img src="assets/img/doctor.png"class="person-foto">
            <h2 class="person-name">MUDr. Janette Baloghová, PhD.<br> Klinika dermatovenerológie UPJŠ LF a UNLP</h2>
          </div>

        </div>
        <hr class="line">
      </div>
    </div>

    <div #contactUs id="conctactUsField" class="contactUs">
      <div class="contactUsText"><h1 class="UsText">Do you have any questions?</h1></div>
      <div class="contactUsButton"> <a class="ContactUsMail" href="mailto:contactUs@gmail.com"> Contact us </a> </div>
    </div>

    <div class="footer">
      <div class="columns">
        <div class="column">
          <h2 class="footer-title desktop-version">For Developers</h2>
          <ul class="widget-list desktop-version">
            <li><a href="">Docs</a></li>
            <li><a href="">API</a></li>
            <li><a href="">Open Source</a></li>
          </ul>
        </div>
        <div class="column">
          <h2 class="footer-title">Company</h2>
          <ul class="widget-list">
            <li><a href="">Blog</a></li>
          </ul>
        </div>
        <div class="column">
          <h2 class="footer-title">Support</h2>
          <ul class="widget-list">
            <li><a href="">Help Center</a></li>
            <li><a href="">Contact Us</a></li>
            <li><a href="">Documentation</a></li>
            <li><a href="">Partner</a></li>
          </ul>
        </div>
      </div>

      <h1 class="footer-last-title">Melanoma detection Team  </h1>
      <img src="assets/icons/image%207.svg" class="footer-last-icon">
    </div>


  </div>
</div>

<div class="body2" *ngIf="ScanPageVisible">
  <div class="pageForScan" *ngIf="ScanPageVisible">
    <div class="uploadPage" *ngIf="!mapVisible">
      <app-scan-page>

      </app-scan-page>
    </div>
  </div>
</div>
