<h1>Melanoma Detector</h1>

<div class="uploadArea" *ngIf="!file">
  <button class="uploadButton">
    <label>
      Click here
      <input type="file" (change)="getFile($event)" class="file " />
    </label>
  </button>

  <div class="dropArea" >
    <label>
      Drop here
    <input type="file" (change)="getFile($event)" class="file " />
    </label>
  </div>
</div>

<div class="uploadArea" *ngIf="file">
  <img [src]="file"  width="700" height="700">
  <button (click)="file=undefined">Clear image</button>
  <button (click)="uploadFile()">Check it</button>
</div>


